<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>任务记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css" />

    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/mui.picker.min.css" />
    <link rel="stylesheet" href="~/Content/css/mui.poppicker.css" />
    <link rel="stylesheet" href="~/Content/css/multipleViews.css" />
    <link rel="stylesheet" href="~/Content/css/mui.dtpicker.css" />

</head>

<body class="mui-fullscreen record-plan">
    <!--页面主结构开始-->
    <div id="app" class="mui-views">
        <div class="mui-view">
            <div class="mui-navbar">
            </div>
            <div class="mui-pages">
            </div>
        </div>
    </div>

    <!--单页面开始-->
    <div id="setting" class="mui-page">
        <!--------------------------导航栏区域---------------------->
        <div class="mui-navbar-inner mui-bar mui-bar-nav">
            <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
                <span class="mui-icon mui-icon-left-nav"></span>返回
            </button>
            <h1 class="mui-center mui-title" id="customername"></h1>
        </div>

        <div class="mui-page-content">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <form class="mui-input-form">
                        <ul class="mui-table-view">

                            <li class="mui-table-view-cell">
                                <a class="mui-navigate-right">
                                    <div class="mui-input-row" id="communicate-record">
                                        <label class="cell-left">跟进方式</label>
                                        <p class="cell-right" id="cummunicateText-record">请选择跟进方式</p>
                                    </div>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a class="mui-navigate-right">
                                    <div class="mui-input-row" id="contacter-record">
                                        <label class="cell-left">联系人</label>
                                        <p class="cell-right" id="contacterText-record">请选择联系人</p>
                                    </div>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a class="mui-navigate-right">
                                    <div class="mui-input-row" id="date-recordstart" data-options=''>
                                        <label class="cell-left">开始时间</label>
                                        <p class="cell-right" id="dateText-recordstart">选择跟进日期</p>
                                    </div>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a class="mui-navigate-right">
                                    <div class="mui-input-row" id="date-recordend" data-options=''>
                                        <label class="cell-left">结束时间</label>
                                        <p class="cell-right" id="dateText-recordend">选择跟进日期</p>
                                    </div>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a class="mui-navigate-right" id='process-record'>
                                    <div class="mui-input-row">
                                        <label class="cell-left">客户进程</label>
                                        <p class="cell-right" id="processText-record">请选择进程</p>
                                    </div>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a class="mui-navigate-right" href="#account">
                                    <div class="mui-input-row">
                                        <label class="cell-left">推荐方案</label>
                                        <p class="cell-right" id="recommendText-record">请选择推荐方案</p>
                                    </div>
                                </a>
                            </li>
                            <li class="activityRecord-cell">
                                <div class="mui-input-row activityRecord-content">
                                    <span class="activityRecord-label">活动记录内容</span>
                                    <textarea id="activity-record" rows="5" class="activityRecord-input" placeholder="可以输入活动内容..."></textarea>
                                </div>
                            </li>
                            <li class="upload-cell">
                                <div class="mui-input-row upload-content">
                                    <img class="upload-image" id="uploadRecord" src="/Content/img/plan_camera.png" />
                                    <p class="upload-title">请上传图片</p>
                                </div>
                                <div class="uploadimglist">
                                    <ul id="list-img" class="mui-table-view mui-grid-view">
                 
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </form>
                    <form enctype="multipart/form-data" id="uploadhead" class="mui-hidden">
                        <input type="file" accept="image/*" name="hide-headimg" multiple="multiple" id="btnupload" onchange="changehead(this)" />
                    </form>
                    <div>
                        <button class="scommit-btn" id="commitRecord">保&nbsp;存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="account" class="mui-page">
        <div class="mui-navbar-inner mui-bar mui-bar-nav">
            <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
                <span class="mui-icon mui-icon-left-nav"></span>返回
            </button>
            <h1 class="mui-center mui-title">推荐方案</h1>
        </div>
        <div class="mui-page-content">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="mui-input-group" id="Descriptionlist">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Content/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/mui.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/mui.view.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/mui.picker.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/mui.poppicker.js"></script>
<script type="text/javascript" src="~/Content/Scripts/mui.dtpicker.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/showlog.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/lrz.mobile.min.js"></script>
    <script>
        mui.init();
        //初始化单页view
        var viewApi = mui('#app').view({
            defaultPage: '#setting'
        });
        //初始化单页的区域滚动
        mui('.mui-scroll-wrapper').scroll();
        var view = viewApi.view;
        (function ($) {
            //处理view的后退与webview后退
            var oldBack = $.back;
            $.back = function () {
                if (viewApi.canBack()) { //如果view可以后退，则执行view的后退
                    viewApi.back();
                } else { //执行webview后退
 
                    oldBack();
                }
            };
            //监听页面切换事件方案1,通过view元素监听所有页面切换事件，目前提供pageBeforeShow|pageShow|pageBeforeBack|pageBack四种事件(before事件为动画开始前触发)
            //第一个参数为事件名称，第二个参数为事件回调，其中e.detail.page为当前页面的html对象
            view.addEventListener('pageBeforeShow', function (e) {
                //				console.log(e.detail.page.id + ' beforeShow');
            });
            view.addEventListener('pageShow', function (e) {
                //				console.log(e.detail.page.id + ' show');
            });
            view.addEventListener('pageBeforeBack', function (e) {
                //				console.log(e.detail.page.id + ' beforeBack');
                getcheckbox();
            });
            view.addEventListener('pageBack', function (e) {
                //				console.log(e.detail.page.id + ' back');
            });
        })(mui);
        var customerinfo = JSON.parse(localStorage.getItem("customerinfo"));
        /*----------- 获取页面元素 ----------*/
        //1，记录页面
        document.getElementById("customername").innerText = customerinfo.customername;


        (function ($, doc) {
            $.ready(function () {

                //跟进方式
                var communicateTextRecord = document.getElementById("cummunicateText-record");

                switch (customerinfo.followupmode) {
                    case 1:
                        communicateTextRecord.innerText = "电话";
                        communicateTextRecord.setAttribute("data-value", "1");
                        break;
                    case 2:
                        communicateTextRecord.innerText = "拜访";
                        communicateTextRecord.setAttribute("data-value", "2");
                        break;
                    case 3:
                        communicateTextRecord.innerText = "邮件";
                        communicateTextRecord.setAttribute("data-value", "3");
                        break;

                }
                //联系人
                var contacterRecord = document.getElementById("contacter-record");
                var contacterTextRecord = document.getElementById("contacterText-record");
                contacterTextRecord.innerText = customerinfo.contact;
                //开始时间
                var dateRecordstart = document.getElementById("date-recordstart");
                var dateTextRecordstart = document.getElementById("dateText-recordstart");
                dateTextRecordstart.innerText = customerinfo.starttime;
                //结束时间
                var dateRecordend = document.getElementById("date-recordend");
                var dateTextRecordend = document.getElementById("dateText-recordend");
                dateTextRecordend.innerText = customerinfo.endtime;
                //客户进度
                var processRecord = document.getElementById("process-record");
                var processTextRecord = document.getElementById("processText-record");
                processTextRecord.innerText = customerinfo.salestagename;
                processTextRecord.setAttribute("data-value", customerinfo.salestageid);
                //推荐方案
                var recommendTextRecord = document.getElementById("recommendText-record");
                recommendTextRecord.innerText = customerinfo.description == null ? "" : customerinfo.description;

                document.getElementById("activity-record").value = customerinfo.trackcontent;

                $.ajax({
                    type: "get",
                    url: "/ClientData/GetDataItemListJson",
                    data: { EnCode: "Client_ProductInfo" },
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        var temphtml = "";
                        for (var i = 0; i < data.length; i++) {
                            temphtml += '<div class="mui-input-row mui-checkbox mui-left"><label>' + data[i].ItemName + '</label>' +
                           '<input name="checkbox" value="' + data[i].ItemValue + '" type="checkbox"></div>';
                        }
                        document.getElementById("Descriptionlist").innerHTML = temphtml;
                    },
                    error: function (data) {
                        mui.toast(data.responseText);
                    }
                });
               

                /*     ----------- 记录页面的事件响应 ----------  - */
                //1，跟进方式
                var communicatePicker = new $.PopPicker({ title: "跟进方式" });
                communicatePicker.setData([
                    {
                        text: '电话',
                        value: "1"
                    }, {
                        text: '拜访',
                        value: "2"
                    }, {
                        text: '邮件',
                        value: "3"
                    }
                ]);
                var communicateRecord = document.getElementById("communicate-record");
                communicateRecord.onclick = function () {
                    communicatePicker.show(function (items) {
                        communicateTextRecord.innerText = items[0].text;
                        communicateTextRecord.setAttribute("data-value", items[0].value);
                    });
                };
                //2,联系人
                contacterRecord.onclick = function () {
                    $.ajax({
                        type: "get",
                        url: "GetCustomerContactJson",
                        data: { customerId: customerinfo.objectid, keyword: "" },
                        async: false,
                        dataType: "json",
                        success: function (data) {

                            var picker = new $.PopPicker({ title: "联系人" });
                            var arrayData = [];
                            var contactlist = data.resultdata.rows
                            for (var i = 0; i < contactlist.length; i++) {
                                arrayData[i] = { text: contactlist[i].Contact, value: contactlist[i].Contact }
                            }

                            picker.setData(arrayData);
                            picker.show(function (items) {
                                contacterRecord.getElementsByTagName("p")[0].innerHTML = items[0].value;
                            });
                        },
                        error: function (data) {
                            mui.toast(data.responseText);
                        }
                    });
                }
                //3,开始时间
                dateRecordstart.onclick = function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);
                    picker.show(function(rs) {
                        dateTextRecordstart.innerHTML = rs.text;
                        picker.dispose();
                    });
                }
                //3,结束时间
                dateRecordend.onclick = function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);
                    picker.show(function (rs) {
                        dateTextRecordend.innerHTML = rs.text;
                        picker.dispose();
                    });
                }
                //4,客户进度
                processRecord.onclick = function () {
                    showPoppicker(this, "Client_SaleStage");
                }

                //6，点击上传照片
                var cameraRecord = document.getElementById("uploadRecord");
                cameraRecord.onclick = function () {
                    document.getElementById("btnupload").click();
                }
            });
        })(mui, document);
    
        //记录内容
        var activityTextRecord = document.getElementById("activity-record");
 
        //7，点击保存按钮
        document.getElementById("commitRecord").addEventListener("tap", function () {
            //跟进方式
            var communicateTextRecord = document.getElementById("cummunicateText-record");
            //联系人
            var contacterTextRecord = document.getElementById("contacterText-record");
            //开始时间
            var dateTextRecordstart = document.getElementById("dateText-recordstart");
            //结束时间
            var dateTextRecordend = document.getElementById("dateText-recordend");
            //客户进度
            var processTextRecord = document.getElementById("processText-record");
            //推荐方案
            var recommendTextRecord = document.getElementById("recommendText-record");
            var imglist = "";
            $("#list-img li")
                .each(function () {
                    imglist += $(this).attr("data-src")+";";
                });
            if (recommendTextRecord.innerText === "") {
                mui.toast("请选择推荐方案");
                return false;
            }
 
            var param = {
                keyValue:customerinfo.trailid,
                FollowUpMode: communicateTextRecord.getAttribute("data-value"),
                Contact: contacterTextRecord.innerText,
                StartTime: dateTextRecordstart.innerText,
                EndTime: dateTextRecordend.innerText,
                ObjectId: customerinfo.objectid,
                ObjectName: customerinfo.objectname,
                ObjectSort: customerinfo.objectsort,
                SaleStageName: processTextRecord.innerText,
                SaleStageId: processTextRecord.getAttribute("data-value"),
                Description: recommendTextRecord.innerText,
                TrackContent: activityTextRecord.value,
                TrailType: 2,
                FilesPath: imglist.substr(0, imglist.length-1)
        };
    
            $.ajax({
                type: "post",
                url: "SaveTrailRecord",
                data: param,
                async: false,
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        mui.alert("保存成功",
                            "提示",
                            function() {
                                location.href = GetQueryString("backrul");
                               // mui.back();
                            });
                    } else {
                        mui.toast(data.message);
                    }
                     
                },
                error: function (data) {
                    mui.toast(data.responseText);
                }
            });

        });


        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURI(r[2]); return null;
        }



        /*------------自定义展示picker-----------*/
        function showPoppicker(obj, datatype) {
            $.ajax({
                type: "get",
                url: "/ClientData/GetDataItemListJson",
                data: { EnCode: datatype },
                async: false,
                dataType: "json",
                success: function (data) {
        
                    var title = obj.getElementsByTagName("label")[0].innerHTML.toString();
                    var picker = new mui.PopPicker({ title: title });
                    var arrayData = [];
                    for (var i = 0; i < data.length; i++) {
                        arrayData[i] = { text: data[i].ItemName, value: data[i].ItemDetailId }
                    }

                    picker.setData(arrayData);
                    picker.show(function (items) {
                        obj.getElementsByTagName("p")[0].innerHTML = items[0].text;
                        obj.getElementsByTagName("p")[0].setAttribute("data-value", items[0].value);
                    });
                },
                error: function (data) {
                    mui.toast(data.responseText);
                }
            });

        }

        function getcheckbox() {
            var tempvalue = "";
            $("#Descriptionlist input").each(function () {
                if (this.checked) {
                    tempvalue += this.previousElementSibling.innerText+",";
                }
            });
            document.getElementById("recommendText-record").innerText = tempvalue.substr(0,tempvalue.length-1);
        }
        function changehead(file) {
            var dialog = showLog("正在上传中……", false);
            // 也可以传入图片路径：lrz('../demo.jpg', ...
            for (var i = 0; i < file.files.length; i++) {

                lrz(file.files[i], {
                    width: 800,
                    height: 600,
                    done: function (results) {
                        // 你需要的数据都在这里，可以以字符串的形式传送base64给服务端转存为图片。
          
                        $.ajax({
                            type: "post",
                            url: "UploadifyFile",
                         
                            dataType: "json",
                            data: {
                                "FileName": results.origin.name,
                                "Filedata": results.base64.split(',')[1]
                            },
                            success: function(data) {
                                if (data.type == 1) {
                                    $("#list-img")
                                        .append('<li data-src="' + data.message + '" class="mui-table-view-cell mui-col-xs-3"><img src="' + results.base64 + '" /></li>');
                                } else {
                                    mui.toast(data.msg);
                                }
                            }
                        });
                    }
                });
            }
            dialog.hide();
        }

        $("#list-img")
            .on("tap",
                "li",
                function() {
                    $(this).remove();
                });
               
    </script>
</body>
</html>