@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models

<div class="easyui-panel" id="panelShow" title="查询栏" iconcls="icon-search" collapsible="true" style="height: auto; width: auto">
    <table id="ttSearch" class="record">
        <tr>
            <th>公司</th>
            <td>
                <select id="cc" style="width: 350px;"></select>
                <select id="cl" style="width: 350px;"></select>
            </td>
        </tr>
        <tr>
            <th>日期</th>
            <td>
                <input class="easyui-datebox" id="beginDate" editable="false" style="width: 100px"/>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center">
                <input type="button" id="todaySearch" style="width: 80px;" onclick="SearchParm()" value="搜索">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </td>
        </tr>
    </table>
</div>
<br/>
<div class="easyui-panel" style="height:auto;" collapsible="true">
    <div id="ReportInfo">

    </div>
</div>

<link href="~/Res/PublicCommon.css" rel="stylesheet" />
<script src="~/Scripts/jquery.watermark.min.js"></script>
<script src="~/Scripts/jquery.bpopup-0.7.0.min.js"></script>
<script src="~/Scripts/type-bpopup_fuc.js" type="text/javascript"></script>
<script src="/Scripts/Employees/Index.js" type="text/javascript"></script>
<link href="~/Content/TodayTasks/Index.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $("#cc").combobox({
            url: '/PayReport/GetComboxList?parm=1604121151490315992e569f90a1e',
            valueField: 'id',
            textField: 'text',
            //editable: false
            filter: function (q, row) { //q：文本框内你输入的值，row：列表数据集合；
                var opts = $(this).combobox('options');
                return row[opts.textField].indexOf(q) >= 0;
            },
            onSelect: function (record) {
                $("#cl").combobox({
                    disabled: false,
                    url: '/PayReport/GetComboxChildList?parm=' + record.id,
                    valueField: 'id',
                    textField: 'text',
                    //editable: false
                    filter: function (q, row) { //q：文本框内你输入的值，row：列表数据集合；
                        var opts = $(this).combobox('options');
                        return row[opts.textField].indexOf(q) >= 0;
                    }
                }).combobox('clear');
            }
        
        });
        $('#cl').combobox({
            disabled: true,
            valueField: 'id',
            textField: 'text',
            //editable: false
            filter: function (q, row) { //q：文本框内你输入的值，row：列表数据集合；
                var opts = $(this).combobox('options');
                return row[opts.textField].indexOf(q) >= 0;
            }
        });
        loadData();
    });

    function toDate(str) {
        var sd = str.split("-");
        return new Date(sd[0], sd[1], sd[2]);
    }
    //按条件查询
    function SearchParm() {
        loadData();
    }
    //搜索清空
    function RemvoeAll() {

      $('#beginDate').datebox('setValue', '');
      
     
    }
    function loadData() {
        $('#ReportInfo').html("<img src='/Images/indicator.white.gif' /> Loading ...");
        var ckValue = $("#cc").combobox("getValue");//公司
        var ckText = $("#cc").combobox("getText");//公司
        var beginDate = $('#beginDate').datebox('getValue');//开始时间
        //var endDate = $('#endDate').datebox('getValue');//结束时间
        var clValue = $("#cl").combobox("getValue");//公司
        var clText = $("#cl").combobox("getText");//公司
        $.ajax({
            type: "POST",
            data: {
                "ckValue": ckValue, "ckText": ckText, "clValue": clValue, "clText": clText, "StartDate": beginDate
            },
            url: "/PayReport/GetWagesReportPartial",
            success: function (data) {
                $('#ReportInfo').empty();
                $('#ReportInfo').html(data);
            }
        });
    }
</script>





