@{;
ViewBag.Title="表单页面";
Layout="~/Views/Shared/_Form.cshtml";
}
<script>
varkeyValue=request('keyValue');
$(function(){
initControl();
});
//初始化控件
functioninitControl(){
//获取表单
if(!!keyValue){
$.SetForm({
url:"../../PublicInfoManage/SmsLog/GetFormJson",
param:{keyValue:keyValue},
success:function(data){
$("#form1").SetWebControls(data);
}
})
}
}
//保存表单;
functionAcceptClick(){
if(!$('#form1').Validform()){
returnfalse;
}
varpostData=$("#form1").GetWebControls(keyValue);
$.SaveForm({
url:"../../PublicInfoManage/SmsLog/SaveForm?keyValue="+keyValue,
param:postData,
loading:"正在保存数据...",
success:function(){
$.currentIframe().$("#gridTable").trigger("reloadGrid");
}
})
}
</script>
<divstyle="margin-top:20px;margin-right:30px;">
<tableclass="form">
<tr>
<tdclass="formTitle">手机号</td>
<tdclass="formValue">
<inputid="MobileNumber"type="text"class="form-control"/>
</td>
<tdclass="formTitle">短信内容</td>
<tdclass="formValue">
<inputid="MsgContent"type="text"class="form-control"/>
</td>
</tr>
<tr>
<tdclass="formTitle">短信值，如验证码</td>
<tdclass="formValue">
<inputid="MsgValue"type="text"class="form-control"/>
</td>
<tdclass="formTitle">发送短信结果编码</td>
<tdclass="formValue">
<inputid="SendResultCode"type="text"class="form-control"/>
</td>
</tr>
<tr>
<tdclass="formTitle">发送短信结果内容</td>
<tdclass="formValue">
<inputid="SendResultMsg"type="text"class="form-control"/>
</td>
<tdclass="formTitle">发送时间</td>
<tdclass="formValue">
<inputid="SendTime"type="text"class="form-control"/>
</td>
</tr>

</table>
</div>
