@{;
ViewBag.Title="列表页面";
Layout="~/Views/Shared/_Index.cshtml";
}
<script>;
$(function(){
InitialPage();
GetGrid();
});
//初始化页面
functionInitialPage(){
//resize重设布局;
$(window).resize(function(e){
window.setTimeout(function(){
$('#gridTable').setGridWidth(($('.gridPanel').width()));
$('#gridTable').setGridHeight($(window).height()-108.5);
},200);
e.stopPropagation();
});
}
//加载表格
functionGetGrid(){
varselectedRowIndex=0;
var$gridTable=$('#gridTable');
$gridTable.jqGrid({
autowidth:true,
height:$(window).height()-108.5,
url:"../../PublicInfoManage/SmsLog/GetListJson",
datatype:"json",
colModel:[
{label:'手机号',name:'MobileNumber',index:'MobileNumber',width:100,align:'left',sortable:true},
{label:'短信内容',name:'MsgContent',index:'MsgContent',width:100,align:'left',sortable:true},
{label:'短信值，如验证码',name:'MsgValue',index:'MsgValue',width:100,align:'left',sortable:true},
{label:'发送短信结果编码',name:'SendResultCode',index:'SendResultCode',width:100,align:'left',sortable:true},
{label:'发送短信结果内容',name:'SendResultMsg',index:'SendResultMsg',width:100,align:'left',sortable:true},
{label:'发送时间',name:'SendTime',index:'SendTime',width:100,align:'left',sortable:true},
{label:'是否删除',name:'IsDeleted',index:'IsDeleted',width:100,align:'left',sortable:true},
{label:'主键',name:'MsgId',index:'MsgId',width:100,align:'left',sortable:true},
],
onSelectRow:function(){
selectedRowIndex=$('#'+this.id).getGridParam('selrow');
},
gridComplete:function(){
$('#'+this.id).setSelection(selectedRowIndex,false);
}
});
}
//新增
functionbtn_add(){
dialogOpen({
id:'Form',
title:'添加短信记录',
url:'/PublicInfoManage/SmsLog/Form',
width:'px',
height:'px',
callBack:function(iframeId){
top.frames[iframeId].AcceptClick();
}
});
}
//编辑
functionbtn_edit(){
varkeyValue=$('#gridTable').jqGridRowValue('MsgId');
if(checkedRow(keyValue)){
dialogOpen({
id:'Form',
title:'编辑短信记录',
url:'/PublicInfoManage/SmsLog/Form?keyValue='+keyValue,
width:'px',
height:'px',
callBack:function(iframeId){
top.frames[iframeId].AcceptClick();
}
})
}
}
//删除
functionbtn_delete(){
varkeyValue=$('#gridTable').jqGridRowValue('MsgId');
if(keyValue){
$.RemoveForm({
url:'../../PublicInfoManage/SmsLog/RemoveForm',
param:{keyValue:keyValue},
success:function(data){
$('#gridTable').trigger('reloadGrid');
}
})
}else{
dialogMsg('请选择需要删除的短信记录！',0);
}
}
//详细
functionbtn_detail(){
varkeyValue=$('#gridTable').jqGridRowValue('MsgId');
if(checkedRow(keyValue)){
dialogOpen({
id:'Form',
title:'查看短信记录',
url:'/PublicInfoManage/SmsLog/Detail?keyValue='+keyValue,
width:'px',
height:'px',
callBack:function(iframeId){
top.frames[iframeId].AcceptClick();
}
})
}
}
</script>
<divclass="titlePanel">
<divclass="title-search">
<table>
<tr>
<td>
<inputid="txt_Keyword"type="text"class="form-control"placeholder="请输入要查询关键字"style="width:200px;"/>
</td>
<tdstyle="padding-left:5px;">
<aid="btn_Search"class="btnbtn-primary"><iclass="fafa-search"></i>查询</a>
</td>
</tr>
</table>
</div>
<divclass="toolbar">
<divclass="btn-group">
<aid="lr-replace"class="btnbtn-default"onclick="Reload()"><iclass="fafa-refresh"></i>&nbsp;刷新</a>
<aid="lr-add"class="btnbtn-default"onclick="btn_add()"><iclass="fafa-plus"></i>&nbsp;新增</a>
<aid="lr-edit"class="btnbtn-default"onclick="btn_edit()"><iclass="fafa-pencil-square-o"></i>&nbsp;编辑</a>
<aid="lr-delete"class="btnbtn-default"onclick="btn_delete()"><iclass="fafa-trash-o"></i>&nbsp;删除</a>
<aid="lr-detail"class="btnbtn-default"onclick="btn_detail()"><iclass="fafa-list-alt"></i>&nbsp;详细</a>
</div>
</div>
</div>
<divclass="gridPanel">
<tableid="gridTable"></table>
</div>
