@using Common
@using Models

@{
    ViewBag.Title = "项目项目执行列表";
    Layout = "~/Views/Shared/Index.cshtml";
}
<div class="easyui-panel" id="panelShow" title="查询栏" iconcls="icon-search" collapsible="true" style="height:auto;width:auto">
    <div id="ttSearch" data-options="region:'center'" style="padding:2px">
        <table class="record" border="0" cellpadding="0" cellspacing="0" style="width:100%">

            <tr>
                <th style="width: 120px; text-align: right; padding-right: 10px; height: 26px">
                    日期 :
                </th>
                <td>
                    <input type="text" id="StartDate" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'EndDate\');}', dateFmt: 'yyyy-MM-dd' })" />
                    ~
                    <input type="text" id="EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'StartDate\');}', dateFmt: 'yyyy-MM-dd' })" />
                </td>

            </tr>
            <tr>
                <th style="width: 120px; text-align: right; padding-right: 10px; height: 26px">
                    客户名称 :
                </th>
                <td>
                    <input type='text' id='CustomerName' name="CustomerName" />
                    &nbsp;&nbsp;&nbsp;
                    <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
                        查 询
                    </a>
                </td>
            </tr>


        </table>
    </div>
</div>

<br style="clear: both;" />
<table id="flexigridData"></table>


<link href="~/Res/PublicCommon.css" rel="stylesheet" />
<script type="text/javascript" language="javascript">$.getScript("/Scripts/RPOPerf/EndList.js")</script>
