@using Common
@using Models
@model CRM.DAL.TB_Customer

@{
    ViewBag.Title = "客户汇总";
    Layout = "~/Views/Shared/Index.cshtml";
}
<div id="divQuery">
    <div class="easyui-panel" title="查询栏" iconcls="icon-search" collapsible="true" data-options="collapsed:false" style="height:auto;width:auto">
        <table id="ttSearch" class="record" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:120px; text-align:right; padding-right:10px;height:26px">
                    日期:
                </th>
                <td>
                    <input type="text" id="StartDate" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'EndDate\');}', dateFmt: 'yyyy-MM-dd' })" />
                    <span>到</span>
                    <input type="text" id="EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'StartDate\');}', dateFmt: 'yyyy-MM-dd' })" />

                </td>
            </tr>            
            <tr>
                <td colspan="2" style="text-align:center">
                    <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
                        查 询
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        </table>

    </div>
</div>
<br style="clear: both;" />
<table id="flexigridData" class="easyui-datagrid" title="客户汇总（1-初步建立联系 2-需求沟通 3-方案推进 4-合同阶段（传送/盖章） 5-回款阶段 6-日常维护 7-Ice-冰冻客户  ）" style="width:99%;height:550px"
       data-options="rownumbers:true,singleSelect:true">
    <thead>
        <tr>
            <th data-options="field:'SysDepartmentName',width:180,sortable:true" rowspan="2">部门</th>
            <th data-options="field:'SysPersonName',width:140,sortable:true" rowspan="2">负责人</th>
            <th data-options="field:'ContractCount',width:75,sortable:true" rowspan="2">客户合同数</th>
            <th colspan="7">客户进程</th>
            <th colspan="2">客户拜访</th>
            <th data-options="field:'CustomerNewCount',width:80,sortable:true" rowspan="2">客户新进数</th>
            <th data-options="field:'CustomerTotal',width:80,sortable:true" rowspan="2">客户总量</th>

        </tr>
        <tr>
            <th data-options="field:'CustomerFunnel6',width:75,align:'center',sortable:true">6</th>
            <th data-options="field:'CustomerFunnel5',width:75,align:'center',sortable:true">5</th>
            <th data-options="field:'CustomerFunnel4',width:75,align:'center',sortable:true">4</th>
            <th data-options="field:'CustomerFunnel3',width:75,align:'center',sortable:true">3</th>
            <th data-options="field:'CustomerFunnel2',width:75,align:'center',sortable:true">2</th>
            <th data-options="field:'CustomerFunnel1',width:75,align:'center',sortable:true">1</th>
            <th data-options="field:'CustomerFunnel7',width:75,align:'center',sortable:true">7</th>
            <th data-options="field:'FaceFollow',width:60,align:'center',sortable:true">面聊</th>
            <th data-options="field:'TelFollow',width:60,align:'center',sortable:true">电话</th>
        </tr>
    </thead>
</table>
<div>


</div>
<script type="text/javascript">

    $(function () {

        $('#flexigridData').datagrid({
            //title: '客户汇总', //列表的标题
            iconCls: 'icon-site',
            width: '99%',
            height: 'auto',
            striped: true,
            collapsible: true,
            singleSelect: false,
            //url: '../Reports/GetCustomerSummaryData', //获取数据的url
            idField: 'PersonID',
            toolbar: [{
                text: '导出',
                iconCls: 'icon-excel',
                handler: function () {
                    return flexiExport();
                }
            }],
            pagination: true,
            rownumbers: true
        });
    });


    //将查询条件按照分隔符拼接成字符串
    var search = "";

    //“查询”按钮，弹出查询框
    function flexiQuery() {

        search = "";
        if ($("#StartDate").val() != "") {

            search = search + 'StartDate' + "&" + $('#StartDate').val() + '^';
        }
        if ($("#EndDate").val() != "") {
            search = search + 'EndDate' + "&" + $('#EndDate').val() + '^';
        }
         
        $('#flexigridData').datagrid('options').url = "../Reports/GetCustomerSummaryDeptData";
        $("#flexigridData").datagrid("clearSelections");
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    }


    //“导出”按钮     在6.0版本中修改
    function flexiExport() {

        $.messager.confirm('操作提示', "确定要导出客户汇总数据吗", function (r) {
            if (r) {

                var p = $('#flexigridData').datagrid('options').columns[0];
                var field = ["SysDepartmentName", "SysPersonName", "ContractCount", "CustomerFunnel6", "CustomerFunnel5", "CustomerFunnel4", "CustomerFunnel3", "CustomerFunnel2", "CustomerFunnel1", "CustomerFunnel7", "FaceFollow", "TelFollow", "CustomerNewCount", "CustomerTotal"];//所有的列名
                var title = ["部门", "负责人", "客户合同数", "客户进程6", "客户进程5", "客户进程4", "客户进程3", "客户进程2", "客户进程1", "客户进程7", "客户拜访(面聊)", "客户拜访(电话)", "客户新进数", "客户总量"];//所有的标题名称
                //$(p).each(function () {
                //    field.push(this.field);
                //    title.push(this.title);
                //});

                $.post("../Reports/ExportCustomerSummaryDeptData",
                    {
                        title: title.join(","),
                        field: field.join(","),
                        sortName: $('#flexigridData').datagrid('options').sortName,
                        sortOrder: $('#flexigridData').datagrid('options').sortOrder,
                        search: search
                    }, function (res) {
                        window.location.href = res;

                    });


            }
        });
    };
</script>
