<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--开发-->
  <!--<add name="BaseDb" connectionString="Server=172.28.100.17;Initial Catalog=MyCrm_DB;User ID=sa;Password=Password0" providerName="System.Data.SqlClient" />
  <add name="AccountDb" connectionString="Server=172.28.100.17;Initial Catalog=MyCrm_DB;User ID=sa;Password=Password0" providerName="System.Data.SqlClient" />-->

  <add name="BaseDb" connectionString="Server=10.10.10.80;Initial Catalog=MyCrm_DB;User ID=sa;Password=Password0" providerName="System.Data.SqlClient" />
  <add name="AccountDb" connectionString="Server=10.10.10.80;Initial Catalog=MyCrm_DB;User ID=sa;Password=Password0" providerName="System.Data.SqlClient" />
</connectionStrings>